<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiration</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
  <body>
    <div class="card">
      <h1 class="title">morgan lin.</h1>
      <p class="subtitle">Social Impact and Tech Entrepreneur</p>
      <div class="links-container">
          <div class="links-column">
              <a href="#" class="link">Link 1</a>
              <a href="#" class="link">Link 2</a>
              <a href="#" class="link">Link 3</a>
              <a href="#" class="link">Link 4</a>
          </div>
          <div class="links-column">
              <a href="#" class="link">Link 5</a>
              <a href="#" class="link">Link 6</a>
              <a href="#" class="link">Link 7</a>
              <a href="#" class="link">Link 8</a>
          </div>
      </div>
  </div>
</body>
</html>